name: CI

on: [push, pull_request]

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source code
        uses: actions/checkout@master

      - name: Install Rust stable
        run: |
          rustup toolchain update --no-self-update stable
          rustup default stable
          rustup component add clippy rustfmt

      - name: Run rustfmt
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy --all -- -Dwarnings

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        include:
          # Integration tests are disabled on Windows as they take *way* too
          # long to pull the Docker image
          - os: windows-latest
            test_flags: --skip buildtest --skip integration
    steps:
      - name: Checkout the source code
        uses: actions/checkout@master

      - name: Install Rust stable
        run: |
          rustup toolchain update stable
          rustup default stable

      - name: Build rustwide
        run: cargo build --all

      - name: Test rustwide
        run: cargo test --all -- ${{ matrix.test_flags }}
